.columna{
    padding-left: 30%;
    padding-right: 30%;
}

.contenedor_seccion{
    background-color: #ffffff;
    border-radius: 10px;
}

.texto_rojo{
    color: #d10202;
}

.fondo_blanco{
    background: #ffffff;
}

@media only screen and (max-width: 800px) {
    .columna{
        padding-left: 6%;
        padding-right: 6%;
    }
}